.git-private-NigelJD
.gitconfig
.profile
.vboxclient-clipboard.pid
.vboxclient-display-svga-x11.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.xsession-errors
.xsession-errors.old
 .ICEauthority
.Xauthority
.Xdefaults
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dmrc
.local/
.mozilla/
.pki/
.ssh/
.sudo_as_admin_successful
.thumbnails/
Downloads/
Pictures/
Template
.ICEauthority
Templates/
.vscode/
.xscreensaver
love/